<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/app.css">    
    <title>My Scrobbles</title>
</head>
<body>

    {% if 'error' in current_data %}
        <h1>Access token expired</h1>
        <h4>Login again <a href="/auth/">here</a></h4>
    {% else %}
    <div class="current_song_info">
        <img class = "current_playing" src="{{current_data['item']['album']['images'][0]['url']}}" alt="">
        <h1>
            {{ current_data['item']['name'] }}
        </h1>
        <h3>{{ current_data['item']['album']['name'] }} by {{ current_data['item']['artists'][0]['name'] }}</h3>
    </div>

    <div class="history_recent">
        {% for tracks in recently_played['items'] %}
            <li>{{ tracks['track']['name'] }}</li>
        {% endfor %}
    </div>
    
    {% endif %}
</body>
</html>
