<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/app.css">    
    <title>My Scrobbles</title>
</head>
<body>
    <!-- {{current_data}} -->
    {% if 'error' in current_data %}
        <h1>Access token expired</h1>
        <h4>Login again <a href="/auth/">here</a></h4>
    {% else %}
    <img class = "current_playing" src="{{current_data['item']['album']['images'][0]['url']}}" alt="">
    {% endif %}
</body>
</html>